* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
main {
    width: 100%;
    position: relative;
    display: block;
    margin-top: 77px;
    padding: 15px 0px 10px 0px;
}

@font-face {
    font-family: "Nunito Sans Regular";
    src: url('../asset/.font/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: 'Nunito semi-bold';
    src: url('../asset/.font/Nunito-SemiBold.ttf');
}
@font-face {
    font-family: 'Nunito Bold';
    src: url('../asset/.font/Nunito-Bold.ttf');
}

/* config */
.rounded-3-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.overflow-hidden {
    overflow: hidden;
}
.bg-web-default {
    background-color: #0BA129 !important;
}
.w-sm {
    max-width: 400px !important;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
}
.d-block {
    display: block;
}
.align-center {
    align-items: center;
}
.icon-sm {
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}
.border-radius-16 {
    border-radius: 16px !important;
}
.spacer {
    width: 100%;
    height: 5px;
    margin: 5px auto;
    display: block;
}
.spacer-sm {
    width: 100%;
    height: 2px;
    margin: 2px auto;
    display: block;
}
.c-green {
    color:#73AF59 !important;
}
.flex-2-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.btn-cart {
    text-align: center;
    color: #ffff;
    background-color: #73AF59;
    padding: 10px;
    max-width: 300px;
    border-radius: 10px;
}
.float {
    position: fixed;
    z-index: 9;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    visibility: hidden;
}
.show-up {
    visibility: visible;
    animation: showUp .8s ease-in-out;
}
@keyframes showUp {
    from {
        bottom: -50px;
        opacity: 0;
    }
    to {
        bottom: 50px;
        opacity: 1;
    }
}
@keyframes navShow {
    from {
        top:-77px;
    }
    to {
        top:0px;
    }
}

.loading {
    width: 100%;
    height: 100vh;
    top : 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,0.4);
    z-index: 999;
    color: #ffff;
}

/* ---------- */

header {
    width: 100%;
    height: 77px;
    position: relative;
}
header.nav-float {
    position: absolute;
    z-index: 99;
    top: 0px;
}
header .navbar a.navbar-brand {
    font-family: 'Nunito Bold';
    transition: .5s ease;
    color: #000000;
}
header .navbar a.navbar-brand:hover {
    color: #73AF59;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px;
    padding: 0px;
    list-style: none;
}
header .navbar ul li.navbar-item {
    text-align: center;
    padding: 5px 0px 5px 0px;
    width: 100px;
}
header .navbar ul li.navbar-item a {
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid none;
    padding-bottom: 2px;
}
header .navbar ul li.navbar-item a:hover {
    color: #73AF59;
    border-bottom: 2px solid #73AF59;
}
header .navbar .navbar-header-icon {
    display: flex;
    position:relative;
}
.navbar-header-icon .cart-icon {
    position: relative;
}
.navbar-header-icon .cart-icon .cart-number {    
    visibility: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #ffff;
    background-color: #d60000;
    display: block;
    text-align: center;
    padding:0px;

    position: absolute;
    top: -5px;
    right: -5px;

    font-size: 9pt;
    line-height: 18px;
    font-weight: bold;
    color:#ffff;
}

@keyframes fadeUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        top: 0;
    }
    to {
        top: 56;
    }
}
header .layer-transparent {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 77px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 9;
    animation: fadeUp .4s ease;
}
header .nav-cart {
    position: absolute;
    z-index: 99;
    top: 56px;
    right: 0px;
    padding: 5px;
    text-align: center;
    background-color: #ffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #eaeaea;
    animation: fadeUp .5s ease;
}
.nav-cart img {
    width: 150px;
    margin:auto;
    display: block;
}
.nav-cart .cart-empty {
    visibility: visible;
    width: 300px;
}
.nav-cart .cart-avail {
    width: 300px;
    visibility: visible;
}
.nav-cart .cart-item-list {
    display: block;
}
.cart-item-list .cart-item {
    margin-bottom: 5px;
    display: flex;
}
.nav-cart .cart-avail img {
    width: 70px;
}
.nav-cart .info {
    text-align: left;
    padding-left: 10px;
}

.search-box {
    margin-right: 15px;
    background-color: #eaeaea;
    padding: 5px 10px;
    border: 1px;
    border-radius: 10px;
}
.search-box input[type="text"] {
    background-color: transparent;
    border:none;
    outline: none;
}
.search-box img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
.banner {
    width: 100%;
    overflow: hidden;
    display: block;
}
.banner img {
    width: 100%;
}
.head-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.headline-tags {
    width: 100%;
    position: relative;
    display: block;
    margin:15px 0px;
    background-color: #73AF59;
    padding: 15px 0px 15px 0px;
    overflow: hidden;
}
.headline-tags img.patren-float-right {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 250px;
}
.headline-tags img.patren-float-left {
    display: block;
    position: absolute;
    top: -30px;
    left: 0px;
    width: 300px;
    transform: rotate(60deg);
}

/* footer */
footer {
    width: 100%;
    margin:0px;
    padding-top: 20px;
}
footer .footer-copy {
    background-color: #0BA129;
    width: 100%;
    padding: 15px;
    margin:0px;
    display: block;
}
.coureer-list img{
    width: 70px;    
}
.coureer-list img:not(:last-child) {
    margin-right: 20px;
}
.footer-icon {
    margin-right: 10px;
}
footer a {
    text-decoration: none;
    color:#000000;
}
footer ul {
    list-style: none;
    padding: 0px;
}
footer ul li a {
    text-decoration: none;
    color: #000000;
}
footer ul li:hover a {
    color:#73AF59;
}
.social-media {
    width: 100%;
    display: block;
    align-items: center;
    margin:0px;
}
.social-media .social-media-list {
    display: flex;
}
.social-media-list a img {
    width: 30px;
    margin-right: 20px;
}

/* Another page */
.tabs {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 77px;
    background-color: #73AF59;
    display: flex;
    align-items: center;
}
.tabs a {
    text-decoration: none;
    color: #ffff;
}
.item-image {
    max-width: 100%;
}

.input-item {
    display: flex;
    align-items: center;
}
.input-item input {
    width: 40px;
    height: 40px;
    text-align: center;
    margin:0px 5px;
}
.input-item .icon-item {
    width: 40px;
    height: 40px;
    font-size: 22pt;
    line-height: 28px;
    border:none;
    background-color: #73AF59;
    color: #ffff;
}

/* .input-item input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    padding: 0px;
}

.input-item input[type="number"] {
    -moz-appearance: textfield;
} */

.bank-list .col-sm-4:not(:last-child) {
    margin-right: 10px;
}
.bank-list .col-sm-4{
    width: 200px;
    /* height: 79px; */
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #7e7e7e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.bank-list .col-sm-4 img {
    width: 100%;
}